<div class="row hero text-center">
    <div class="col-sm-12">

      <h1 class="hero"></h1>
      <p class="post">
        
      </p>
      <div class="signature">
        <span class="signature"></span>
      </div>

      <%= link_to "Start journaling today", signup_path, class: 'btn btn-primary' %>
      
    </div>
</div> <!-- /hero -->

<div class="row features text-center">
  <div class="col-sm-12">
    <div class="feature-block feature-emoji col-sm-3">
      <%= image_tag("icon-emoji.png", size: "58x58") %>
      <span>Emoji Support</span>
    </div>

    <div class="feature-block feature-emoji col-sm-3">
      <%= image_tag("icon-search.png", size: "55x55") %>
      <span>Fulltext Search</span>
    </div>

    <div class="feature-block feature-backups col-sm-3">
      <%= image_tag("icon-backups.png", size: "50x55") %>
      <span>Daily Backups</span>
    </div>

    <div class="feature-block feature-reminders col-sm-3">
      <%= image_tag("icon-reminders.png", size: "48x55") %>
      <span>Reminders</span>
    </div>
  </div>
</div>

<div class="row why-journal section text-center">
    <div class="col-sm-12">
      <h1>Why should I journal? Is this 1972?</h1>
      <ul>
        <li><a href="#">Why Keeping a Daily Journal Could Change Your Life</a></li>
        <li><a href="#">Why You Should Keep A Journal (and How to Start Yours)</a></li>
        <li><a href="#">26 Reasons Why I Keep a Journal (And Why You Should, Too)</a></li>
        <li><a href="#">8 Reasons Keeping a Journal Can Help You Reach Your Goals</a></li>
        <li><a href="#">Keeping a Journal Now Will Change Your Life Later. Here's Why</a></li>
      </ul>
  </div>
</div> <!-- /why-journal -->

<div class="row benefits text-center">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
          <%= image_tag("icon-creativity.png", size: "55x54") %>
          <span>Fuel Creativity</span>
        </div>
    </div>
  
    <div class="col-sm-4">
        <div class="feature-block">
          <div class="circle pull-right"></div>
          <%= image_tag("icon-gratitude.png", size: "67x55") %>
          <span>Increase Gratitude</span>
        </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-grow.png", size: "58x55") %>
        <span>Helps You Grow</span>
        </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-focus.png", size: "55x55") %>
        <span>Focus on Clarity</span>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-ontrack.png", size: "55x55") %>
        <span>Stay on track</span>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-mindfulness.png", size: "52x55") %>
        <span>More mindfulness</span>
      </div>
    </div>
  </div>
</div><!-- /benefits -->

<div class="row call-to-action text-center">
<h1>Pick Up the Most Beneficial Habit Today</h1>
<%= link_to "Start journaling today", signup_path, class: 'btn btn-primary' %>
</div>

<%= render 'layouts/landing_footer' %>