<% provide(:title, "Better Days | A clutter-free and beautiful journaling application") %>
<script type="text/javascript">
$(function(){
    $("h1.hero").typed({
      strings: ["Dear ^300 Diary ^500, "],
      typeSpeed: 20,
      showCursor: false
    });
});

$(function(){
    $("p.post").typed({
      strings: ["I am ^100 grateful for your <strong>clutter-free writing experience</strong>. ^300 Thank you for ^150 helping me journal everyday and ^200 keeping it <strong>safe</strong>."],
      typeSpeed: 7,
      showCursor: false,
      startDelay: 2500
    });
});

$(function(){
    $("span.signature").typed({
      strings: ["Yours ^100 truly."],
      typeSpeed: 35,
      showCursor: false,
      startDelay: 9800
    });
});
</script>

<script type="text/javascript">
    mixpanel.track("Visited Landing Page");
</script>


<div class="row hero text-center">
    <div class="col-sm-12">

      <h1 class="hero"></h1>
      <p class="post">
        
      </p>
      <div class="signature">
        <span class="signature"></span>
      </div>

      <%= link_to "Start journaling today", signup_path, class: 'btn btn-primary' %>
      
    </div>
</div> <!-- /hero -->

<div class="row features text-center">
  <div class="col-sm-12">
    <div class="feature-block feature-emoji col-sm-3">
      <%= image_tag("icon-emoji.png", size: "58x58") %>
      <span>Emoji Support</span>
    </div>

    <div class="feature-block feature-emoji col-sm-3">
      <%= image_tag("icon-search.png", size: "55x55") %>
      <span>Fulltext Search</span>
    </div>

    <div class="feature-block feature-backups col-sm-3">
      <%= image_tag("icon-backups.png", size: "50x55") %>
      <span>Daily Backups</span>
    </div>

    <div class="feature-block feature-reminders col-sm-3">
      <%= image_tag("icon-reminders.png", size: "48x55") %>
      <span>Reminders</span>
    </div>
  </div>
</div>

<div class="row why-journal section text-center">
    <div class="col-sm-12">
      <h1>Why should I journal? Is this 1972?</h1>
      <ul>
        <li><a href="http://observer.com/2015/07/why-keeping-a-daily-journal-could-change-your-life/">Why Keeping a Daily Journal Could Change Your Life</a></li>
        <li><a href="http://lifehacker.com/why-you-should-keep-a-journal-and-how-to-start-yours-1547057185">Why You Should Keep A Journal (and How to Start Yours)</a></li>
        <li><a href="http://www.huffingtonpost.com/peggy-nolan/why-i-keep-a-journal_b_3594722.html">26 Reasons Why I Keep a Journal (And Why You Should, Too)</a></li>
        <li><a href="http://www.becomingminimalist.com/reasons-to-journal/">8 Reasons Keeping a Journal Can Help You Reach Your Goals</a></li>
        <li><a href="https://medium.com/@thierrymeier/how-journaling-changed-my-life-and-how-it-can-change-yours-too-dede3d17f8f3#.yv8cre7rl">How Journaling Changed My Life (And How It Will To Change Yours Too)</a></li>
      </ul>
  </div>
</div> <!-- /why-journal -->

<div class="row benefits text-center">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
          <%= image_tag("icon-creativity.png", size: "55x54") %>
          <span>Fuel Creativity</span>
        </div>
    </div>
  
    <div class="col-sm-4">
        <div class="feature-block">
          <div class="circle pull-right"></div>
          <%= image_tag("icon-gratitude.png", size: "67x55") %>
          <span>Increase Gratitude</span>
        </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-grow.png", size: "58x55") %>
        <span>Helps You Grow</span>
        </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-focus.png", size: "55x55") %>
        <span>Focus on Clarity</span>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-ontrack.png", size: "55x55") %>
        <span>Stay on track</span>
      </div>
    </div>
  
    <div class="col-sm-4">
      <div class="feature-block">
        <div class="circle pull-right"></div>
        <%= image_tag("icon-mindfulness.png", size: "52x55") %>
        <span>More mindfulness</span>
      </div>
    </div>
  </div>
</div><!-- /benefits -->

<div class="row call-to-action text-center">
<h1>Pick Up the Most Beneficial Habit Today</h1>
<%= link_to "Start journaling today", signup_path, class: 'btn btn-primary' %>
</div>

<%= render 'layouts/landing_footer' %>