<div class="row">
  <div class="login col-xs-12 text-center">
    
    <%= form_tag sessions_path do %>
        <div class="form-group">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email], class: 'form-control text' %>
        </div>
         <div class="form-group">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, "", class: 'form-control text' %>
        </div>
        <%= submit_tag "Log In", class: 'btn btn-primary' %>
        
    <% end %>

  </div>
</div>

<%= render 'layouts/login_footer' %>