<div class="row">
  <div class="login col-xs-12 text-center">
    <h1>Reset Your Password</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render 'layouts/login_footer' %>