<p>
  Hey <%= @user.first_name %>!
</p>

<p>
  Just a friendly note to remind you to write a journal entry tonight! :)
</p>

<p>
  <%= link_to "Log in to Better Days", root_url %> or simply reply to this email to write a journal entry.
</p>

<p>
  -Thierry
</p>

<p>
  PS: Your reminder is currently scheduled for <%= @user.reminder_time %> in the timezone "<%= @user.time_zone %>". <%= link_to "Change schedule or timezone here", edit_user_path(@user) %>.
</p>