<% provide(:title, "Your Entries") %>

<script type="text/javascript">
  mixpanel.track("View all entries page");
  mixpanel.identify("<%= current_user.id %>");
  mixpanel.people.set({
    "$first_name": "<%= current_user.first_name %>",
    "$email": "<%= current_user.email %>",
    <% if @entries.any? %> "$last_post": "<%= current_user.entries.first.created_at.strftime("%A, %d of %B") %>" <% end %>
  });
  
  mixpanel.track_links("nav a#logout", "Click logout");
  mixpanel.track_forms("#new_entry", "Created new entry");
  mixpanel.track_forms("#search-form", "Searching entries");
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('textarea').autosize();
          $('.textarea').focus(function(){
    		$('.logo').fadeTo(1200, 0.2);
    		$('.footer').fadeTo(1200, 0.2);
    		$('.search').fadeTo(1200, 0.3);
    		$('.entries-list').fadeTo(1200, 0.05);
    		$('nav').fadeTo(1200, 0.2);
       });
   
       $('.textarea').focusout(function(){
            $('.logo').fadeTo(600, 1);
            $('.footer').fadeTo(600, 1);
    	    $('.search').fadeTo(600, 1);
    		$('.entries-list').fadeTo(600, 1);
    		$('nav').fadeTo(600, 1);
       });
   
       if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
         $(function() {
            $(".textarea").on('focus', function() {
                var position = $(".compose h1").offset().top - 30;
                $("HTML, BODY").animate({
                    scrollTop: position
                }, 300);
            });
        });
        }
 });
</script>

<div class="row search">
    <div class="search col-xs-12 text-center">
        
        <%= form_tag(search_entries_path, :method => "post", class: "search-form", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for previous entries..", class: "form-control" %>
        <% end %>
        
    </div>
</div>

<div class="row compose">
    <div class="compose-entry col-xs-12 text-center">
        <% if @entries.any? && has_journaled_today? %>
            <h1 class="done">Done! You’ve written today’s journal!</h1>
        
        <% elsif !is_on_trial? && !is_subscribed? %>
            <h1>Your trial has expired :(</h1>
        
        <% else %>
            <h1><%= Time.now.strftime("%A, %d of %B") %></h1>
            <%= form_for(@entry) do |f| %>
            
                <%= f.text_area :content, class: 'form-control compose-textarea textarea', autocomplete: "off", placeholder: "Hey #{current_user.first_name}, tell me about your day.." %> 
                
                <%= f.submit "Create Entry", class: "btn btn-primary", id: "btn-compose" %>
        
            <% end %>
        <% end %>
    </div>
</div>   

<!--<div class="row separator circle text-center"></div>-->

<% if @entries.any? %>
<div class="row entries-list">
    <div class="all-entries col-xs-12 text-center">
        <ul class="link-list">
            <% @entries.each do |entry| %>
                <li><%= link_to entry.try(:created_at).try(:strftime, '%A, %d of %B %Y'), entry, class: "entry-link" %></li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>

<%= render 'layouts/footer' %>