<div class="row search">
    <div class="search col-xs-12 text-center">
        <input type="text" class="form-control" placeholder="Search for previous entries.." />
    </div>
</div>

<div class="row compose">
    <div class="compose-entry col-xs-12 text-center">
        <h1><%= Time.now.strftime("%A, %d of %B %Y") %></h1>
        <%= form_for(@entry) do |f| %>
        
            <%= f.text_field :content, class: 'form-control compose-textarea', placeholder: "Tell me about your day.." %> 
            
            <%= f.submit "Submit", class: "btn btn-primary" %>
        
        <% end %>
    </div>
</div>

<div class="row separator circle text-center"></div>

<div class="row entries">
    <div class="all-entries col-xs-12 text-center">
        <ul class="link-list">
            <% @entries.each do |entry| %>
                <li><%= link_to entry.created_at.strftime("%A, %d of %B %Y"), entry %></li>
            <% end %>
        </ul>
    </div>
</div>

<%= render 'layouts/footer' %>