<div class="row search">
    <div class="search col-xs-12 text-center">
        
        <%= form_tag(search_entries_path, :method => "post", class: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for previous entries..", class: "form-control" %>
        <% end %>
        
    </div>
</div>

<div class="row search-result-list text-center">
    <h1><%= "No results found :(" if @entries.empty? %></h1>
    <% @search_entries.each do |entry| %>
        <div class="search-result col-xs-12">
            
            <% if entry.content.include?(params[:search]) %>
                <h2><%= link_to entry.created_at.strftime("%A, %d of %B %Y"), entry %></h2>
                <p><%= highlight(excerpt(entry.content, params[:search], radius: 145).gsub('<br />', ''), params[:search])  %></p>
            <% else %>
                <h2><%= link_to highlight(entry.created_at.strftime("%A, %d of %B %Y"), params[:search]), entry %></h2>
                <p><%= entry.content.gsub('<br />', '').truncate(290)%></p>
            <% end %>
        </div>    
    <% end %>
</div>

<%= render 'layouts/footer' %>