<% provide(:title, "Entry from #{@entry.created_at.strftime("%A")}") %>
<script type="text/javascript">
  mixpanel.track("View single entry");
</script>

<div class="row">
  <div class="single-entry col-xs-12 text-center">
    <div class="single-entry-actions">
        <%= link_to "Edit", edit_entry_path %>
        <%= link_to "Close", root_path %>
    </div>
    <h1><%= @entry.created_at.strftime("%A, %d of %B") %></h1>
    
    <%= simple_format(@entry.content) %>
    

  </div>
</div>

<%= render 'layouts/footer' %>