<div class="row">
  <div class="single-entry col-xs-12 text-center">
    <div class="single-entry-actions">
        <%= link_to "Edit", edit_entry_path %>
        <%= link_to "Close", root_path %>
    </div>
    <h1><%= @entry.created_at.strftime("%A, %d of %B") %></h1>
    <p>
      <%= @entry.content.gsub("\n\n", "<br /><br />").html_safe %>
    </p>

  </div>
</div>

<%= render 'layouts/footer' %>