<div class="row">
  <div class="settings col-xs-12 text-center">
    <h1>Settings</h1>
    
    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control text' %>
        </div>
        <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control text' %>
        </div>
        <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control text' %>
        </div>
        <div class="checkbox">
        <%= f.label :reminder, class: 'checkbox inline' do %>
          <%= f.check_box :reminder %>
          <span>Receive a daily reminder to write your journal</span>
        <% end %>
        </div>
        <%= f.submit "Update Account", class: 'btn btn-primary' %>
        
    <% end %>

  </div>
</div>

<%= render 'layouts/footer' %>