<div class="row">
  <div class="settings col-xs-12 text-center">

    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
          <div class = "form-label">
            <%= f.label :first_name %>
          </div>
          <div class = "form-input">
            <%= f.text_field :first_name, class: 'form-control text' %>
          </div>
        </div>
        <div class= "form-group">
          <div class ="form-label">
            <%= f.label :email %>
          </div>
          <div class = "form-input">
            <%= f.email_field :email, class: 'form-control text' %>
          </div>
        </div>
        
        <div class="checkbox">
        <%= f.label :reminder, class: 'checkbox inline' do %>
          <%= f.check_box :reminder %>
          <span>Receive a daily reminder to write your journal</span>
        <% end %>
        </div>
        <div class="checkbox">
        <%= f.label :newsletter, class: 'checkbox inline' do %>
          <%= f.check_box :newsletter %>
          <span>Receive irregular news from us</span>
        <% end %>
        </div>
        <div class="settings-actions text-center">
           <div class="cancel-subscription">
             <%= link_to "Change password", new_password_reset_path %>
            <% if is_subscribed? %><%= link_to "Cancel subscription", subscription_path, data: { confirm: "Are you sure?" }, method: :delete %><% end %>
          </div>
        </div>
        <%= f.submit "Update Account", class: 'btn btn-primary' %>
        <% if is_subscribed? %><!--<span> We'll charge you $3.00 on <%= @next_billing %></span>--><% end %>
        
    <% end %>

  </div>
</div>

<%= render 'layouts/footer' %>