<div class="row">
  <div class="settings col-xs-12 text-center">
    <div class = "upgrade" >
      <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
    </div>


    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages' %>
        <div class= "form-group">
          <div class ="form-label">
            <%= f.label :email %>
          </div>
          <div class = "form-input">
            <%= f.email_field :email, class: 'form-control text' %>
          </div>
        </div>
        <div class="form-group">
          <div class = "form-label">
            <%= f.label :password %>
          </div>
          <div class = "form-input">
            <%= f.password_field :password, class: 'form-control text' %>
          </div>
        </div>
        <div class="form-group">
          <div class = "form-label">
            <%= f.label :password_confirmation %>
          </div>
          <div class = "form-input">
            <%= f.password_field :password_confirmation, class: 'form-control text' %>
          </div>
        </div>
        <div class="checkbox">
        <%= f.label :reminder, class: 'checkbox inline' do %>
          <%= f.check_box :reminder %>
          <span>Receive a daily reminder to write your journal</span>
        <% end %>
        </div>
        <%= f.submit "Update Account", class: 'btn btn-primary' %>
        
    <% end %>

  </div>
</div>

<%= render 'layouts/footer' %>