<% if @show_trial_alert %>
  <% if current_user.created_at > 14.days.ago %>
    <div class="alert alert-info">There are <%= (((current_user.created_at + 14.days) - Time.now)/60/60/24).round %> days remaining in your free trial.</div>
  <% end %>
<% end %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="header clearfix">
  <nav>
      <ul class="pull-right">
          <% if current_user %>
            <li><%= link_to "Upgrade", new_charge_path %></li>
            <li role="presentation"><%= link_to "Edit Account", edit_user_path(current_user) %></li>
            <li role="presentation"><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
          
      </ul>
  </nav>
</div>
<div class="container">

          <div class="row logo">
              <div class="logo col-xs-12 text-center">
                  <%= link_to image_tag("logo-betterdays.png", size: "177x85"), root_path %>
              </div>
          </div> <!-- end logo -->